* {
    margin: 0;
    padding: 0;

}

html {
    display: grid;
}

body {
    background: midnightblue;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: .5fr .25fr 1fr 1fr 1fr .25fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "main"
    "main"
    "foot";    
}

h1, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    line-height: 1.5em;
    color: palegreen;
    text-shadow: 1px 1px 2px deepskyblue;
}

h2 {
    color: darkmagenta;
    margin-top: .25em;
    font-weight: normal;
    margin-left: .5em;
}

h3 {
    font-style: italic;
    padding-bottom: 1.5em;
    color: palegreen;
    text-shadow: none;
    
}

h4 {
    font-family: cursive;
    color: white;
    font-weight: lighter;
    font-style: italic;
}


p {
    font-size: 1.25em;
    margin: .5em 0;
    margin-left: .75em;
}

p.footc {
    color: darkmagenta;
    text-shadow: 2px 1px 2px deeppink;
    font-size: 2em;
    
}

.p3 {
    color: black;
    margin: .1em .5em;
}

.p4 {
    font-family: 'Courier new';
    padding: 0 .25em;
  
}

header {
    grid-area: header;
    display: grid;
    margin-top: 2em;
    width: 100vw;
    text-align: center;    
}

ol {
    color: black;
    margin-left: 1.5em;
    display: block;
    line-height: 1.5em;
    list-style: circle;
    
}

ul {
    
    list-style: none;
    display: inline-block;
    max-width: 100vw;   
}

li {
    
    display: inline-block;
    font-size: .75em;

}

.li2 {
    font-size: 1em;
    margin-right: .5em;
}

a {
    text-decoration: none;
    
    padding: .5em .5em;
    color: darkmagenta;
}

a:hover {
    color: palegreen;
}

.nav {
    grid-area: nav;
    box-sizing: border-box;
    font-size: 2em;
    background-color: orchid;
    text-align: center; 
}

.main {
    grid-area: main;
    margin: .5em 0;
    display: grid;    
}


.foot {
    grid-area: foot;
    background-color: orchid;
    color: indigo;   
}


.box2 {
    background-color: lightseagreen;
    height: auto;
    font-family: 'Courier New', Courier, monospace;    
}

.a2 {
    color: deepskyblue;
    text-shadow: none;
}

.box3 {
    background-color: darkmagenta;
    color: darkseagreen;
    height: auto;
       
}


/*for large screens*/

