* {
    margin: 0;
    padding: 0;

}

html {
    display: grid;
}

body {
    background: midnightblue;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1.5fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "main"
    "main"
    "foot";
    
    
}

h1, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    line-height: 1.5em;
    color: palegreen;
    text-shadow: 1px 1px 2px deepskyblue;
}

h2 {
    color: darkmagenta;
    margin-top: .25em;
    font-weight: normal;
    margin-left: .5em;
    font-weight: bolder;
}

h3 {
    font-style: italic;
    padding-bottom: 1.5em;
    color: palegreen;
    text-shadow: none;
    
}

h4 {
    font-family: cursive;
    color: white;
    font-weight: lighter;
    font-style: italic;
}


p {
    font-size: 1.25em;
    margin: .5em 0;
    margin-left: .75em;
}

p.footc {
    color: darkmagenta;
    text-shadow: 2px 1px 2px deeppink;
    font-size: 2em;
    
}

.p3 {
    color: black;
    margin: .1em .25em;
}

.p4 {
    font-family: fantasy;
    padding: 0 .25em;
  
}

header {
    grid-area: header;
    display: grid;
    margin-top: 2em;
    
    text-align: center;
    
}

ol {
    color: black;
    margin-left: 2em;
    display: block;
    line-height: 1.2em;
}

ul {
    
    list-style: none;
    display: inline-flex;
    margin: auto;

   
    
    
}

li {
    margin: 0 .5em;
}

a {
    text-decoration: none;
    margin: .5em 0;
    padding-top: 1em;
    color: darkmagenta;

}

a:hover {
    color: deeppink;
}

.nav {
    grid-area: nav;
    box-sizing: border-box;
    display: block ruby;
    font-size: 2em;
    background-color: palegreen;
    padding: .75em 0;
    

    
    
}

.main {
    grid-area: main;
    margin: .5em 0;
    display: grid;
    
}


.foot {
    grid-area: foot;
    background-color: palegreen;
    color: indigo;
    
    
}


.box2 {
    background-color: lightseagreen;
    color: deepskyblue;
    
    height: auto;
    margin: .25em;
    font-family: 'Courier New', Courier, monospace;
    
    
}

.a2 {
    color: deepskyblue;
    text-shadow: none;
}

.box3 {
    background-color: darkmagenta;
    color: darkseagreen;
    height: auto;
    margin: .25em;
    
}


/*for large screens*/

@media only screen and (min-width: 800px) {
    
   body {
       
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr;
       
       
   }
    
    header {
        margin: 0;
        
        grid-column: 1 / 2;
        grid-row: 1 / 2;
       
        
    }

    .nav { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        padding: .75em 0;
    } 
    
    a {
        text-shadow: none;
    }


   

    .main {
        grid-row: 1 / 4;
        grid-column: 2 / 4;
        padding-left: .25em;
        padding-bottom: .25em;
        margin: 0;
        border-bottom: 5px solid palegreen;
        border-left: 5px solid palegreen;
        
        
    }

    .box2 {
        box-shadow: none;
        margin: 0;
        
    }

    .box3 {
        box-shadow: none;
        margin: 0;
        background-color: darkmagenta;
    }


    .foot {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        background-color: midnightblue;
        border-bottom: 5px solid palegreen;
        margin-top: 5em;
        
    
        
    }

    p.footc {
        text-shadow: 1px 1px 1px deepskyblue;
        color: palegreen;
        margin-left: 0;
        
        
    }
}